
.home-page {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.wrapper {
  display: flex;
  width: 600px;
  justify-content: center;
}

.photo-1 {
  //object-fit: cover;
  text-align: center;
  background-image: url('../../images/home/pizza-1.jpg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
  border-radius: $radius;
  margin: 0 3px 0 0;
  padding: 0;
  height: 120px;
  width: 297px;
}

.photo-1 p:nth-of-type(2) {
  opacity: 0;
}

.photo-1:hover p:nth-of-type(2) {
  opacity: 1;
}

.photo-1 p {
  transition: all 1s;
}

.photo-1:hover p {
  transform: translateY(-20px);
}

.photo-1 p:first-of-type {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 44px;
  margin-bottom: 10px;
}

.photo-2 {
  //object-fit: cover;
  text-align: center;
  background-image: url('../../images/home/pizza-2.jpg');
  background-position: center;
  background-size: cover;
  color: #ffffff;
  border-radius: $radius;
  margin: 0 0 0 3px;
  padding: 0;
  height: 120px;
  width: 297px;
}

.photo-2 p:nth-of-type(2) {
  opacity: 0;
}

.photo-2:hover p:nth-of-type(2) {
  opacity: 1;
}

.photo-2 p {
  transition: all 1s;
}

.photo-2:hover p {
  transform: translateY(-20px);
}

.photo-2 p:first-of-type {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 44px;
  margin-bottom: 10px;
}

.hours {
  text-align: center;
  justify-content: center;
  background-color: #FF6B6B;
  border-radius: $radius;
  margin: $base-size/2 0;
  color: #ffffff;
  text-transform: uppercase;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 600px;
  justify-content: center;
}

.photos {
  margin: $base-size/2 0;
}

.photo-3 {
  background-image: url('../../images/home/pizza-3.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
}

.photo-4 {
  background-image: url('../../images/home/pizza-4.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
  margin-right: 12px;
}

.photo-5 {
  background-image: url('../../images/home/pizza-5.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
}

.photo-6 {
  background-image: url('../../images/home/pizza-6.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
  margin-left: 12px;
}

.photo-7 {
  background-image: url('../../images/home/pizza-7.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
  margin-right: 12px;
}

.photo-8 {
  background-image: url('../../images/home/pizza-8.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
}

.photo-9 {
  background-image: url('../../images/home/pizza-9.jpg');
  background-position: center;
  background-size: cover;
  height: 190px;
  width: 190px;
  border-radius: $radius;
  margin-left: 12px;
}

.wrapper-quotes {
  margin: 100px 0 40px 0;
}

.quotes {
  color: black;
  width: 400px;
  padding-left: 40px;
  display: none;

  &.active {
    display: block;
  }
}

.gallery {
  margin: 12px 0;
}

.dot {
  background-color: lightgrey;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin: 0 7px;

  &.active {
    background-color: grey;
  }
}

.dots {
  justify-content: center;
  margin-bottom: 70px;
}

.insta a {
  color: #FF6B6B;
}

.hours p:first-of-type {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.hours p:nth-of-type(2) {
  margin: 5px 0 0 0;
}

a {
  display: none;

  i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    margin: 85px 10px;

  }
}

i:hover {
  color: #FF6B6B;
}

.icons {
  padding: 0 40px;
}

.photo:hover {
  filter: brightness(50%);

  a {
    display: inline;
  }
}
